<div ng-controller="MemeCreateCtrl" id="MemeCreateForm">
    <form novalidate class="simple-form">

        <input type="text" placeholder="Top Line" ng-model="textTop" focus-on-load/><br />
        <input type="text" placeholder="Bottom Line" ng-model="textBottom" /><br />

        <div class="btn-Large btn-Wide btn-Action-2" ng-click="update(text)">SAVE</div>

    </form>
    
    <div id="canvasStack">
        <canvas id="memeCanvasTop" width="500" height="400"></canvas>
        <canvas id="memeCanvasBottom" width="500" height="400"></canvas>
        <canvas id="memeCanvasImage" width="500" height="400"></canvas>
    </div>
    <div class="clearFix"></div>
</div>